/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/bg-02.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}


/*---------------------------------------------*/

a {
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}


/*---------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p {
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

.pcontainerHoriz {
    padding-left: 2rem;
    padding-Right: 2rem;
}

.pcontainInnerHoriz {
    padding-left: 3rem;
    padding-Right: 3rem;
}


/*d-flex for all browsers*/

.displayFlex {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
}


/*---------------------------------------------*/

input {
    outline: none;
    border: none;
}

input:focus {
    border-color: transparent !important;
}

input::-webkit-input-placeholder {
    color: #999999;
}

input:-moz-placeholder {
    color: #999999;
}

input::-moz-placeholder {
    color: #999999;
}

input:-ms-input-placeholder {
    color: #999999;
}

textarea::-webkit-input-placeholder {
    color: #999999;
}

textarea:-moz-placeholder {
    color: #999999;
}

textarea::-moz-placeholder {
    color: #999999;
}

textarea:-ms-input-placeholder {
    color: #999999;
}


/*---------------------------------------------*/

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/

.txt1 {
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.4;
    color: #999999;
}


/*//////////////////////////////////////////////////////////////////
[ sign up ]*/

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.wrap-login100 {
    width: 600px !important;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    position: relative;
    top: 16% !important;
    left: 0;
    z-index: 9999999;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}


/*==================================================================
[ Form ]*/

.login100-form {
    width: 100%;
}

.login100-form-title {
    display: block;
    font-size: 2rem;
    color: black;
    line-height: 1.2;
    text-align: center;
}

.infoType {
    font-size: 1.4rem !important;
    color: black;
}

.numberPage {
    background-color: #da5552;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
}

label {
    font-size: 1rem !important;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
}

.input100 {
    font-size: 16px;
    color: black;
    display: block;
    width: 100%;
    height: 2rem;
    background: transparent;
    padding: 0 10px 0 20px;
    border-color: black !important;
}

label {
    font-size: 0.9rem;
    color: black;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}


/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    border-radius: 20px;
    box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus+.focus-input100 {
    box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);
}


/*------------------------------------------------------------------
[ Button ]*/

.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nextBtn {
    box-sizing: content-box !important;
    margin-right: auto !important;
    border-radius: 25px;
    color: #da5552;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.2;
    cursor: pointer;
}

.login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    height: 40px;
    border-radius: 25px;
    background-color: #da5552;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.login100-form-btn:hover {
    background-color: #fff;
    color: #da5552;
    border: 1px solid #da5552;
}


/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

@media (max-width: 801px) {
    .wrap-login100 {
        top: 10% !important;
    }
}

@media (max-width:550px) {
    .wrap-login100 {
        width: 300px !important;
        top: 5% !important;
    }
}

@media (max-width:322px) {
    .wrap-login100 {
        top: 1% !important;
    }
}

@media (max-width: 480px) {
    .wrap-login100 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width:412px) {
    .pcontainerHoriz {
        padding-left: 1rem !important;
        padding-Right: 1rem !important;
    }
    .pcontainInnerHoriz {
        padding-left: 1rem !important;
        padding-Right: 1rem !important;
    }
}

#particles-js {
    height: 100%;
}

.hero-wrap {
    height: 100%;
    overflow: auto;
}

.overlay {
    height: 100%;
}

#personalPage {
    display: block;
}

#contactPage {
    display: none;
}

#accountPage {
    display: none;
}

#medicalPage {
    display: none;
}